# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv
venv

# IDE / Editor
.idea/
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
